* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
}
.main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 90px;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: white;
  border: 2px solid white;

  
}
.hero-img{
  background-color: white;
  justify-self: center;


}
.hero-desc {
  background-color: lightblue;
  align-self: center;
  

}
.hero-desc ul{
  background-color: dimgray;
  list-style-type: none;


}
.hero-img img{

 width: 100%;
 margin: 50px;
 border: 1px solid white;
 border-radius: 0 17px 17px 17px;
}