* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
}
.main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 90px;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: white;
  border: 2px solid white;

  
}
.hero-img{
  background-color: white;
  justify-self: center;


}
.hero-desc {
  width: 300px;
  border-radius: 16px;
  background-color: lightblue;
  align-self: center;
  

}
.hero-desc ul {
  background-color: dimgray;
  list-style-type: none;
  text-align: center;
  padding:30px;
  border-radius: 0 0 16px 16px ;


}
.hero-desc h1{text-align: center; padding: 10px;}

.hero-img img{
 width: 90%;
 margin: 50px;
 border: 1px solid white;
 border-radius: 0 17px 17px 17px;
}

.anime{
  transform: rotateY(45deg);
}