/* reset */
@font-face{
  font-family: "marvel";
  src: url(MarvelRegular.ttf);
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #013c58;
  width: 100%;
  height: 100%;
}



.main-container{
  width: 100vw;
  height: 100vh;
}

.main{
  display: grid;
  grid-template-columns: repeat(1, 1f);
  grid-template-rows: repeat(1, 1f);
  justify-content: center;


    
}
  .main > div {

      background-color: rgba(5, 5, 0, 0.7);      
      width: 100%;
      height: 100vh;
      /*border: 2px solid white;*/
      box-shadow: 7px 10px 20px black;
    }

.card img{
  width: 450px;
  height: 340px;
  box-shadow: 2px 4px 15px white;
  margin: 15px 50px;
  border: 2px solid white;
  border-radius: 30px;


}
.hero-desc{
  width:400px;
  margin: 0 auto;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  color: hsl(200, 100%, 50%);
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;


}
.hero-desc ul{padding: 5px;}
.hero-desc ul li{list-style-type: none; }

button.btnBack{
  position: absolute;
  z-index: 10px;
  top: 200px;
  left:300px;
  position: fixed;
  color: white;
  border-radius: 30px;
  border: 10px solid black;
  font-size: 60px;
  padding: 20px;
  background-color: red;
  font-family: "marvel";


}
button.btnGO{
  position: absolute;
  z-index: 10px;
  top: 200px;
  left:200px;
  position: fixed;
  color: white;
  border-radius: 30px;
  border: 10px solid black;
  font-size: 60px;
  padding: 20px;
  background-color: green;
  font-family: "marvel";


}
h1.marvel{
  
  margin: 20px auto;
  text-align: center;
  /*line-height: 50px;*/
  font-size: 60px;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  padding: 9px  5px  0 5px; 
  font-family: "marvel";
  width: 140px;
  height: 60px;

 
  

}
